.s-ads img{
    width: 339px;
    border-radius: 20px;
    margin: 0px 10px;
    

  }

  .s-ads{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 10px 47px;
    flex-wrap: wrap;
   
  }


  @media screen and (min-width: 1195px) {
    .s-ads img{
      width: 500px;
    }
  }
    
  
